.container {
    background-color: white !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.heading {
    color: red;
    font-size: 2rem;
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .item {
        flex: none;
    }
    .heading {
        font-size: 1.5rem;
    }
}